* { font-family: 'B612', sans-serif }

body {
background-color: #1a1a1a;
animation: fade 3s;
color: white;
overflow-x: hidden;
margin: 0px; }

@font-face {
font-family: 'B612';
font-display: swap;
src: url(https://fonts.gstatic.com/s/b612/v5/3JnySDDxiSz36j6yGQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }

::-webkit-scrollbar { width: 10px }
::-webkit-scrollbar-track { background: #1a1a1a }
::-webkit-scrollbar-thumb { background: #888; border-radius: 7px }
::-webkit-scrollbar-thumb:hover { background: white }

::selection { background-color: #00aaff }

h1 {
user-select: none;
font-weight: normal;
padding-right: 20px;
padding-left: 20px;
margin-top: 50px;
font-size: 250%;
text-align: center; }

input {
outline: none;
margin-top: 100px;
text-align: center;
border: none;
display: block;
padding: 15px 30px 15px 30px;
font-size: 20px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
width: 200px; }

input:hover { filter: drop-shadow(0px 0px 10px white) }

input::placeholder { font-style: italic; font-size: 18px; user-select: none }

button {
outline: none;
cursor: pointer;
user-select: none;
border: none;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: block;
padding: 8px 15px 8px 15px;
border-radius: 5px;
font-size: 13px; }

button:hover { filter: drop-shadow(0px 0px 10px white) }

#benchmark {
position: fixed;
cursor: pointer;
font-weight: lighter;
user-select: none;
bottom: 5px;
color: coral;
font-size: 15px;
text-align: center;
width: 100%; }

#benchmark:hover { color: #4dc3ff }

h2 {
text-align: center;
font-style: italic;
font-weight: lighter;
margin-top: 35px; }

#result {
text-align: center;
font-size: 25px;
padding-bottom: 20px; }

#time {
text-align: center;
display: none;
font-size: 17px;
color: #ff4dff;
padding-bottom: 50px; }

#info, #link1, #link2, #clear {
position: fixed;
display: none;
cursor: pointer;
user-select: none;
bottom: 3px;
font-size: 12px; }

#info, #clear { left: 4px }

#link1, #link2 { right: 4px }

#info:hover, #link1:hover, #link2:hover, #clear:hover { color: #4dc3ff }

section > h3 {
font-size: 20px;
font-weight: normal;
color: #ff8f66;
user-select: none;
padding: 40px 80px 40px 80px;
animation-duration: 1.5s;
animation-name: transition_h3; }

aside {
height: 100%;
width: 0;
user-select: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #1a1a1a;
overflow-x: hidden;
transition: 1s; }

aside > a {
position: absolute;
top: 20px;
cursor: pointer;
right: 45px;
font-size: 30px; }

aside > a:hover { transform: rotate(43deg) }

aside > p {
padding: 60px;
color: #6dc59d;
text-align: justify;
font-size: 20px; }

aside > pre {
margin-top: -40px;
font-family: consolas;
color: #66b3ff;
font-size: 20px; }

span {
z-index: 2;
text-align: center;
display: none;
opacity: 0.7;
height: auto;
border: none;
background-color: #d9d9d9;
color: black;
position: fixed;
padding: 30px 30px 20px 30px;
left: 50%;
width: 300px;
top: 50%;
transform: translate(-50%, -50%);
border-radius: 13px; }

span > h2 {
margin-top: 0px;
font-style: normal;
font-size: 20px; }

@media screen and (max-width: 600px) {
#info { font-size: 0px }
#link1 { text-align: center; width: 100%; right: 0px }
h1 { margin-top: 50px; font-size: 200% }
input {
margin-top: 75px;
padding: 14px 25px 14px 25px;
font-size: 15px;
border-radius: 7px;
width: 150px; }
input::placeholder { font-style: italic; font-size: 14px }
button {
padding: 7px 13px 7px 13px;
border-radius: 5px;
font-size: 10px; }
h2 {
margin-top: 35px;
font-size: 20px;
padding-left: 20px;
padding-right: 20px; }
#result { font-size: 18px }
#time { font-size: 14px }
section > h3 {
font-size: 15px;
padding: 40px 30px 40px 30px; }
aside > p {
padding: 30px;
text-align: left;
font-size: 17px; }
aside > p > i { font-size: 16px }
aside > pre {
margin-top: -20px;
font-size: 14px; }
span {
padding: 23px 23px 15px 23px;
width: 240px; }
span > h2 { font-size: 15px; }}

@media screen and (min-width: 1500px) {
h1 { margin-top: 60px; font-size: 330% }
input {
margin-top: 130px;
padding: 19px 35px 19px 35px;
font-size: 25px;
border-radius: 12px;
width: 250px; }
input::placeholder { font-size: 20px }
button {
margin-top: 35px;
padding: 10px 20px 10px 20px;
border-radius: 8px;
font-size: 16px; }
h2 { margin-top: 60px; font-size: 35px }
#result { font-size: 30px }
#time { font-size: 23px }
section > h3 { font-size: 25px; padding: 50px 100px 50px 100px }
aside > p {
padding: 100px;
font-size: 27px; }
aside > pre {
margin-left: 30px;
margin-top: -100px;
font-size: 24px; }
span {
padding: 40px 40px 30px 40px;
width: 450px; }
span > h2 { font-size: 25px; }}

@keyframes fade {
from { opacity: 0 }
to { opacity: 1 }}

@keyframes transition_h1 {
from { transform: scale(0) }
to { transform: scale(1) }}

@keyframes transition_h3 {
from { margin-left: 100% }
to { margin-left: 0% }}
